*, *:before, *:after {
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

body, html{
	margin: 0px;
}

body{
	font-family: arial;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding: 0px;
}

.menu-bar{
	background-color: blue;
	display: block;
	width: 30px;
	height: 3px;
	margin-top: 4px;
	border-radius: 2px;
}

.burger-nav{
	margin: 15px;
	padding: 6px;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	outline:none;
	z-index: 1;
	float: right;
	display: none;
}

.header-wrapper{
	position:relative;
    background: url('../img/header-image.jpg');
    background-size:cover;
    /*h-shadow v-shadow blur spread color inset(is an inner shadow)*/
    -moz-box-shadow: inset 0px 550px 350px -350px #fff;
    -webkit-box-shadow: inset 0px 550px 350px -350px #fff;
    -o-box-shadow: inset 0px 550px 350px -350px #fff;
    box-shadow: inset 0px 550px 350px -350px #fff;
}

.header{
	padding: 10px 0px;
	position: relative;
	max-width: 1000px;
	margin: auto;
	height: 450px;
}

.header-content{
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 12px;
	background-color: rgba(2, 52, 95, 0.25);
	text-align: center;
}

.header-content p{
	color: white;
	font-size: 1.8em;
	text-shadow: 2px 2px 3px black;
	margin: 12px 0px;
}

.header-content a{
	color: white;
	padding: 18px 20px;
	display: inline-block;
	border: solid 3px white;
	text-shadow: 2px 2px 3px black;
}

.main-logo{
	display: inline-block;
	font-family: 'Aldrich', sans-serif;
	font-size: 2.3em;
	padding: 5px;
	color: cornflowerblue;
}

.main-logo span{
	color: darkblue;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.header .nav-bar{
	margin: auto;
}

.header .nav-bar ul{
	background-image: url('../img/symphony.png');
	padding: 0px;
	float: right;
	list-style-type: none;
	margin: 0px;
	font-size: 0px;
}

.header .nav-bar ul li{
	font-size: 16px;
	display: inline-block;
	/*float: right;*/
	text-align: center;
}

.header .nav-bar ul li a{
	padding: 18px 20px;
	display: block;
	color: white;
}

.header .nav-bar ul li:nth-child(1){
	background-color: rgba(73,150,108,0.6);
}

.header .nav-bar ul li:nth-child(2){
	background-color: rgba(50,150,170,0.6);
}

.header .nav-bar ul li:nth-child(3){
	background-color: rgba(190,150,70,0.6);
}

.header .nav-bar ul li:nth-child(4){
	background-color: rgba(200,150,150,0.6);
}

/*http://bennettfeely.com/clippy/*/

.s-content{

}

.s-content ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row; /* Safari 6.1+ */
	flex-direction: row;
}

.s-content ul li{
	color: white;
	padding: 35px 20px 20px 20px;
	width: 25%;
	line-height: 2;
	text-align: center;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.s-content ul li a{
	display: inline-block;
	border: solid 2px white;
	color: white;
	padding: 6px 9px;
	margin: 15px 0px 10px 0px;
}

.s-content ul li h1{
	text-align: center;
}

.s-content ul li:nth-child(1){
	background-color: rgb(44, 189, 218);
}

.s-content ul li:nth-child(2){
	background-color: rgb(77, 161, 183);
}

.s-content ul li:nth-child(3){
	background-color: rgb(44, 120, 150);
}

.s-content ul li:nth-child(4){
	background-color: rgb(26, 96, 152);
}

.s-content ul li:hover{
	background-color: rgb(10, 55, 90);;
}

.sec-testimonies{
	text-align: center;
	padding: 25px 0px;
	background-color: whitesmoke;

}

.testimonies-wrapper{
	margin: 15px auto;
	overflow: hidden;
	width: 300px;
}

.testimonies-list{
	width: 1200px;
	display: block;
}

.testimonies-list li{
	float: left;
	width: 300px;
	padding: 1px;
}

blockquote {
	margin: auto;
	font-family: Georgia, serif;
	font-size: 16px;
	font-style: italic;
	max-width: 350px;
	padding: 10px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 60px;
	position: absolute;
	left: 0px;
	top: -20px;
	color: #023288;
}

blockquote cite:before {
content: "\2014 \2009 \2009";
}

blockquote:after {
	display: block;
	content: "\201D";
	font-size: 60px;
	position: absolute;
	right: 7px;
	bottom: -50px;
	color: #023288;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	padding: 15px 15px 25px 15px;
}

footer ul li{
	display: inline-block;
	padding: 15px;
	margin-bottom: 15px;
}

footer ul li a{
	color: white;
}

.big-icon{
	font-size: 120px;
	margin: 10px 0px;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

/*
.s-content ul li:hover i{
	color: green;
}*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.s-content ul{
		flex-wrap: wrap;		
	}
	.s-content ul li{
		width: 50%;
	}
	.s-content ul li p{
		display: none;
	}
	.s-content ul li h1{
		font-size: 1em;
	}
	blockquote:before{
		font-size: 55px;
	}
	blockquote:after{
		font-size: 55px;
	}
	.big-icon{
		font-size: 80px;
	}
	.burger-nav{
		display: block;
	}
	.header .nav-bar ul{
		float: none;
		display: none;
	}
	.header .nav-bar ul.show-menu{
		display: block;
	}

	.header .nav-bar ul li{
		display: block;
	}
	.header .nav-bar ul li a{
		padding: 10px;	
	}

}